<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.firestoreapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_rental"
        android:label="Instant Car Rental"
        android:roundIcon="@drawable/logo_rental"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirestoreApp"
        tools:targetApi="31" >
        <activity
            android:name=".Authentication.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Authentication.MainActivity"
            android:label="INSTANT CAR RENTAL"
            android:exported="false" >
        </activity>
        <activity
            android:name=".Authentication.Login"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authentication.SignUp"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>